.nav-a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-family: arial, sans-serif;
    font-size: 13px;

}
a:hover {
    text-decoration: underline;
}
.div-a-footer {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    font-family: Arial, sans-serif;
    background-color:rgb(242, 242, 242);
    color:rgba(0, 0, 0, .54)
}
footer {
    font-size: 15px;
    font-family: Arial, sans-serif;
    background-color:rgb(242, 242, 242);
    color:rgba(0, 0, 0, .54)
}
.footer-a {
    text-decoration: none;
    color: rgb(112, 117, 122);
    font-family: arial, sans-serif;
    font-size: 14px;
}
body {
    font-family: arial, sans-serif;
    font-weight: 400px;
    
}

